@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  background-image: url(./assets/bgImage.jpg);
}

body.modal-active {
  height: 100vh;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: black;
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
}

h2 {
  color: white;
  font-size: 3.5rem;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin: 0 20px;
}

ul li a {
  text-decoration: none;
  color: red;
  font-size: 1.5rem;
}

.animes {
  padding: 100px;
}

.animes h3 {
  margin: 20px;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.likes-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.likes-btn svg {
  width: 2.5em;
  height: 2.5em;
  fill: #ccc;
}

.likes-btn.liked svg {
  fill: #f00;
}

.likes-count {
  color: white;
  padding-bottom: 12px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.main-anime-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  background-color: maroon;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
}

.display .image-display {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.display .description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.description .title-display {
  font-size: 3.5rem;
  color: green;
  margin-bottom: 20px;
}

.display .description .title-display {
  font-size: 2rem;
  color: whitesmoke;
}

.comment-btn {
  display: flex;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 10px white;
}

.footer {
  position: fixed;
  z-index: 3;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  font-size: 1.2rem;
}

/* modal start */
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5%;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  overflow-y: scroll;
  display: none;
}

.close-btn {
  background-color: transparent;
  font-size: 2em;
  border: none;
  position: absolute;
  right: 5%;
  top: 3%;
  cursor: pointer;
}

.close-btn:hover {
  color: maroon;
}

.img-container {
  width: 30%;
  height: 40vh;
}

.popup-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info-container {
  width: 100%;
  text-align: center;
}

table,
tbody {
  width: 100%;
  display: inline-block;
  text-align: left;
}

tr {
  width: 100%;
  display: inline-block;
  display: grid;
  grid-template-columns: 10% 85%;
  column-gap: 10px;
  margin: 10px 0;
}

tr td:first-child {
  grid-column: 1 / span 1;
  display: flex;
  justify-content: space-between;
}

.cmt-container,
.cmt-form {
  width: 100%;
  text-align: left;
}

.cmt-container h2,
.cmt-form h2 {
  color: #000;
  font-size: 1.5em;
  text-align: center;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  margin: 10px 0;
}

.cmt-btn {
  background-color: transparent;
  padding: 3px;
  cursor: pointer;
}
